version: '3.7'

volumes:
  postgres_data:
      driver: local

services:

  postgres-keycloak-container:
    image: postgres
    container_name: postgres-keycloak-container
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password

  keycloak-container:
    image: quay.io/keycloak/keycloak:legacy
    container_name: keycloak-container
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: postgres-keycloak-container
      DB_DATABASE: keycloak
      DB_USER: keycloak
      DB_SCHEMA: public
      DB_PASSWORD: password
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      # Uncomment the line below if you want to specify JDBC parameters. The parameter below is just an example, and it shouldn't be used in production without knowledge. It is highly recommended that you read the PostgreSQL JDBC driver documentation in order to use it.
      #JDBC_PARAMS: "ssl=true"
    ports:
      - 8080:8080
    depends_on:
      - postgres-keycloak-container